# Scalt - Notebook criado para fazer um estudo sobre possíveis transferências no modo carreira e que podem se espelhar na vida real também

In [39]:
import pandas as pd

df = pd.read_csv("planilhas/dados/base_jogadores.csv", sep=";", index_col=0)

C:\Users\l5\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Valor euro 40% > do que a taxa de transferência

In [40]:
temp = df.loc[(df.valor_euro > (df.passe_euro - df.passe_euro*0.40)) & (df.emprestimo == False) & (df.idade < 27) & (df.overall > 70)]
temp = temp.sort_values(by="potencial", ascending=False)
header = ['nome', 'idade', 'overall', 'potencial', 'valor_euro', 'passe_euro', 'clube']
temp.head()

,ID,nome,nome_completo,idade,peso,altura,nacionalidade,overall,potencial,crescimento,...,penaltis,calma,marcacao,combate,carrinho,GK_mergulho,GK_maos,GK_chute,GK_posicionamento,GK_reflexos
796,246104,R. Gravenberch,Ryan Gravenberch,19,190,79,Netherlands,78,90,12,...,58,79,71,67,59,12,8,6,11,12
571,255475,Antony,Antony Matheus dos Santos,21,174,63,Brazil,79,88,9,...,65,78,38,37,21,9,10,14,8,13
1122,254796,N. Madueke,Noni Madueke,19,182,70,England,77,88,11,...,61,72,42,32,37,5,13,6,12,15
1740,251805,J. Timber,Jurriën Timber,20,179,77,Netherlands,75,86,11,...,42,80,77,76,69,6,6,8,14,14
1007,245155,M. Kudus,Mohammed Kudus,20,177,70,Ghana,77,86,9,...,64,76,61,66,46,6,12,7,7,10

In [41]:
temp.to_csv('planilhas/analises/bons_negocios.csv', columns=header, sep=';', encoding='utf-8-sig')